@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption");
html, body, header nav, footer p {
  margin-left: auto;
  margin-right: auto; }

html, body {
  margin-top: 0px;
  height: 100%;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

h1, h2 {
  color: #FFF;
  font-family: "PT Sans", sans-serif; }

h1 {
  margin: 0; }

h2:first-child {
  padding: 5px;
  width: 300px;
  margin-left: 50px;
  background-color: #424242; }

h3 {
  padding-top: 30px; }

ul {
  list-style-type: none; }

p, li, label {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px; }

.movie-search {
  width: 390px;
  margin: 0 auto; }
  .movie-search label {
    width: 160px;
    padding: 2px;
    display: block;
    background-color: #424242; }
  .movie-search input {
    width: 400px;
    height: 40px;
    padding: 8px;
    background-image: url("../images/search.png");
    background-size: 40px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #FFF;
    font-size: 30px; }

#movie-container {
  min-height: calc(70vh - 60px);
  width: 860px;
  margin: 0 auto; }

#movie-container ul {
  display: flex;
  flex-wrap: wrap; }
  #movie-container ul img {
    margin: -20px;
    width: 240px; }
  #movie-container ul li {
    width: 200px;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: #424242;
    color: #FFF; }

header {
  padding-top: 10px;
  height: 300px;
  background-image: url("../images/theater.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  header nav {
    max-width: 780px;
    padding-bottom: 60px; }

header img {
  width: 20px; }

header h1, ul, li {
  display: inline-block; }
  header h1 li, ul li, li li {
    padding-right: 5px;
    font-size: 16px; }

header ul {
  padding-left: 420px; }

header li, label {
  color: #FFF; }

footer {
  width: 100%;
  height: 60px;
  background: #424242;
  color: #FFF; }
  footer p {
    width: 300px;
    padding-top: 20px;
    margin-top: 10px; }
