@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption");
html, body, .movie-search, header nav, .logoContainer, footer p {
  margin-left: auto;
  margin-right: auto; }

html, body {
  margin-top: 0px;
  height: 100%;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

h1, h2 {
  color: #FFF;
  font-family: "PT Sans", sans-serif; }

h1 {
  margin: 0; }

h2:first-child {
  padding: 5px;
  width: 100%;
  background-color: #424242; }
  @media (min-width: 800px) {
    h2:first-child {
      margin-left: 8px;
      width: 300px; } }

h3 {
  padding-top: 30px; }

ul {
  list-style-type: none; }

p, li, label {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px; }

.movie-search {
  width: 260px;
  position: relative; }
  @media (min-width: 400px) {
    .movie-search {
      width: 360px; } }
  @media (min-width: 500px) {
    .movie-search {
      width: 460px; } }
  .movie-search label {
    width: 160px;
    padding: 2px;
    display: block;
    background-color: #424242; }
  .movie-search input {
    width: 100%;
    display: inline-block;
    height: 40px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    font-size: 30px; }
  .movie-search button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 30px;
    background-image: url("../images/search.png");
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 50px;
    height: 50px;
    z-index: 1;
    cursor: pointer; }

.movie-search button:focus {
  outline: 0; }

#movie-container {
  min-height: calc(70vh - 60px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 500px) {
    #movie-container {
      max-width: 490px; } }
  @media (min-width: 800px) {
    #movie-container {
      max-width: 723px; } }

#movie-container ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  #movie-container ul li {
    width: 100%;
    display: flex;
    margin: 10px;
    background-color: #424242;
    color: #FFF; }
    @media (min-width: 500px) {
      #movie-container ul li {
        width: 225px;
        margin: 20px;
        display: block;
        margin: 8px; } }
  #movie-container ul img {
    width: 100px;
    max-height: 150px;
    display: inline-block; }
    @media (min-width: 500px) {
      #movie-container ul img {
        width: 100%;
        max-height: 300px; } }

.movieDetails {
  display: inline-block;
  margin: 10px;
  max-width: 320px; }

.movieDetails h3, .movieDetails p {
  padding: 0px;
  max-width: 120px;
  margin: 10px; }

.movieDetails h3 {
  font-size: 20px; }

p {
  display: inline-block; }

header {
  padding-top: 10px;
  padding-right: 10px;
  height: 200px;
  background-image: url("../images/theater.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 800px) {
    header {
      height: 300px; } }
  header nav {
    max-width: 780px;
    padding-bottom: 60px; }

header h1 {
  display: inline-block; }
  header h1 ul {
    text-align: right; }
  header h1 li {
    padding-right: 5px;
    font-size: 16px; }
    @media (min-width: 800px) {
      header h1 li {
        display: inline-block; } }

header li, label {
  color: #FFF; }

header ul {
  padding-left: 390px; }

.logoContainer img {
  width: 20px;
  padding-left: 20px; }

.logoContainer {
  width: 200px; }
  @media (min-width: 800px) {
    .logoContainer {
      display: inline-block; } }

.hamburger, .close {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer; }
  @media (min-width: 800px) {
    .hamburger, .close {
      display: none !important; } }

.hamburger {
  display: block; }

.close {
  display: none; }

.menuList {
  display: none;
  background: #424242;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 27px;
  right: 0;
  top: 0;
  text-align: right;
  list-style-position: inside;
  z-index: 2; }
  .menuList li {
    font-size: 28px;
    padding-top: 5px; }
  .menuList a {
    text-decoration: none; }

@media (min-width: 800px) {
  .menuList {
    display: inline-block !important;
    width: 200px;
    position: static;
    margin: 0;
    padding: 0;
    padding-left: 360px;
    display: inline-block;
    background: none;
    z-index: 0; }
    .menuList li {
      font-size: 16px;
      display: inline-block;
      padding-left: 5px; } }

footer {
  width: 100%;
  height: 60px;
  background: #424242;
  color: #FFF; }
  footer p {
    width: 230px;
    padding-top: 20px;
    margin-top: 10px; }
