footer {
    width:100%;
    height:60px;
    background:$background-color;
    color: $primary-color;

    p {
        width: 230px;
        @extend %center-element;
        padding-top: 20px;
        margin-top: 10px;
    }
 }