header {
    padding-top: 10px;
    padding-right: 10px;
    height: 200px;
    @include background(url("../images/theater.jpg"), no-repeat, cover);

    @media (min-width: 800px) {
        height: 300px;
    }

    nav {
        @extend %center-element;
        max-width: 780px;
        padding-bottom: 60px;
    }

}

header  h1 {
    display: inline-block;

    ul {
        text-align: right;
    }
    
    li {
        padding-right: 5px;
        font-size: $font;
        
        @media (min-width: 800px) {
            display: inline-block;
        }
    }
}

header li, label {
    color: $primary-color;
}

header ul {
    padding-left: 390px;
}

.logoContainer img {
    width: 20px;
    padding-left: 20px;
}

.logoContainer {
    width: 200px;
    @extend %center-element; 

    @media (min-width: 800px) {
        display: inline-block;
    }
}

.hamburger, .close {
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px; 
    z-index: 3;
    cursor: pointer;

    @media (min-width: 800px) {
        display: none !important;
    }
}

.hamburger {
    display: block;
}

.close {
    display: none;
}

.menuList {
    display: none;
    background: $background-color;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 110px;
    right: 0;
    top: 0;
    text-align: right;
    list-style-position: inside;
    z-index: 2;

    li {
        font-size: $menu-font-mobile;
        padding-top: 5px;
    }

    a {
        text-decoration: none;
    }
}

@media (min-width: 800px) {

    .menuList {
        display: inline-block !important;
        width: 200px;
        position: static;
        margin: 0;
        padding: 0;
        padding-left: 360px;
        display: inline-block;
        background: none;
        z-index: 0;
    
        li {
            font-size: $font;
            display: inline-block;
            padding-left: 5px;
        }
    }
}